[Unit]
Description=Sync /etc/passwd to config volume
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target
Before=sysinit.target

[Service]
Type=simple
ExecStart=/usr/local/libexec/sync_passwd.sh

[Install]
RequiredBy=basic.target
